# Script hvor vi kalkulerer ulike indikatorer for aksjer

In [1]:
import pandas_ta as ta
import alpaca_trade_api as tradeapi
import pandas as pd
import os
from dotenv import load_dotenv
from alpaca_trade_api.rest import TimeFrame
import datetime as dt
import pytz

In [2]:
load_dotenv()

True

In [3]:
API_KEY = os.getenv('API_KEY')
SECRET_KEY = os.getenv('SECRET_KEY')
END_POINT = os.getenv('END_POINT')

In [4]:
api = tradeapi.REST(API_KEY, SECRET_KEY, END_POINT, api_version='v2')

GMT = pytz.timezone('GMT')

time_now = dt.datetime.now(tz=GMT)
time_15_min_ago = time_now - dt.timedelta(minutes=15)
time_1_hr_ago = time_now - dt.timedelta(hours=20)

bars = api.get_bars('AAPL', TimeFrame.Minute, 
             start=time_1_hr_ago.isoformat(), 
             end=time_15_min_ago.isoformat(), 
             adjustment='raw'
             ).df


bars = pd.DataFrame(bars)

In [5]:
# Convert to DataFrame
data = pd.DataFrame({
    'time': bars.index,
    'close': bars.close
})
data.set_index('time', inplace=True)

# print(data.tail())
# Calculate indicators using Pandas TA
data['ema_180'] = ta.ema(data['close'], length=180)
data['rsi'] = ta.rsi(data['close'], length=14)
data['sma_50'] = ta.sma(data['close'], length=50)

data.tail()

                             close     ema_180        rsi      sma_50
time
2024-08-15 14:23:00+00:00  224.870  223.352068  64.171568  223.994862
2024-08-15 14:24:00+00:00  224.850  223.368620  63.213372  224.027462
2024-08-15 14:25:00+00:00  224.730  223.383663  57.651064  224.059102
2024-08-15 14:26:00+00:00  224.805  223.399368  60.018971  224.090002
2024-08-15 14:27:00+00:00  224.810  223.414955  60.178828  224.125902